<div class="d-flex justify-content-end mb-4">
  <div>
    <%= image_tag message.image.variant(resize: '400x400'), class: 'message-image' if message.image.attached? %>
      <p><%= " #{message.content}" %></p>
    <span><%= l message.created_at, format: '%H:%M' %></span>
  </div>
  <div class="img_cont_msg">
    <%= image_tag "no_image.png", class:"rounded-circle user_img_msg" %>
  </div>
</div>

