* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 8vh;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ps-icon {
  width: 18vw;
}


.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}



.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.dignosis {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
  font-weight: bold;
}

.login {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
  font-weight: bold;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
}

.user-nickname,.logout,.login,.sign,.sign-up {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8rem;
  color: #65E0C8;
  text-decoration: none !important;
  user-select: none;
  border: 1px #65E0C8 solid;
  border-radius: 20px;
  transition: 0.4s ease;
}

.dignosis {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8rem;
  color: #AB99FF;
  text-decoration: none !important;
  user-select: none;
  border: 1px #AB99FF solid;
  border-radius: 20px;
  transition: 0.4s ease;
}


.user-nickname:hover,.logout:hover,.login:hover,.sign:hover,.sign-up:hover {
  color: #fff;
  background: #65E0C8;
}

.dignosis:hover {
  color: #fff;
  background: #AB99FF;
}


.footer-wrapper{
  min-height: 12vh;
  position: relative;/*←相対位置*/
  display: flex;
  align-items: end;
}

.top-page-footer {
  text-align: center;
  position: absolute;
  bottom: 0; /*下に固定*/

  left: 0;
  width: 100%;
  height: 20px;
}

.footer-contents {
 width: 20px;
}

.diagnoses-header {
  width: 100vw;
  height: 10vh;
  padding: 0 8vh;
}

.dignosis {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8rem;
  color: #AB99FF;
  text-decoration: none !important;
  user-select: none;
  border: 1px #AB99FF solid;
  border-radius: 20px;
  transition: 0.4s ease;
}


.user-nickname:hover,.logout:hover,.login:hover,.sign:hover,.sign-up:hover {
  color: #fff;
  background: #65E0C8;
}

.dignosis:hover {
  color: #fff;
  background: #AB99FF;
}





