<div class='chat-room-form'>
  <h1>予約が完了しました</h1>
  <div class='reservation_done_wrap'>
    <div class="reservation_done_text">
      <p>マイページより予約をご確認いただけます</p>
      <p>予約日時になりましたら、マイページの予約一覧よりトークルームへお入りください</p>
    </div>
    <div class="frame-btns">
      <%= link_to 'TOPページに戻る', root_path, class:"back-btn" %>
    </div>
  </div>
</div>
