<%= render "shared/header_stylist" %>
<div class='main'>
  <div class='title-contents'>
  
  </div>
    <h2 class='title'>
      トークルーム一覧
    </h2>
  <%# トークルーム一覧 %>
  <div class='room-contents'>
  <div class="rooms">
  <%= render partial: 'rooms/room', collection: @rooms %>
  </div>
  </div>
  <%# /トークルーム一覧  %>

 
<%= render "shared/second-footer" %>