<%= render "shared/header_stylist" %>
<div class='main'>
  <div class='title-contents'>
</div>
<div class="room-wrapper">
  <div class="room-contents">
    <%# トークルーム一覧 %>
    <% if stylist_signed_in? %>
      <h2 class='rooms-title'>
        予約一覧
      </h2>
      <p>※時間になりましたら入室してください<br>
      スタイリストが入室すると一覧から削除されます。</p>
      <div class="talk-rooms">
        <div class='room-contents'>
          <% @rooms.each do |room| %>
            <% if room.stylist_id.blank? %>
              <ul>
                <li><%= link_to "#{room.reservation.user.nickname}様 予約日時：#{room.reservation.reservation_date}  #{room.reservation.time_zone.name}",stylist_path(room.reservation), {class: "text-decoration-none"} %></li> 
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%# /トークルーム一覧  %>
  </div>
</div>
