<%= render "header_room" %>
<div class='message-wrapper'>
  <div id='messages' data-room_id="<%= @room.id %>">
    <%= render @messages %>
  </div>
  <%= render 'footer' %>
</div>
 <%# <% content_for(:body_rooms) do
  data-turbolinks="false" %>