/*枠デザイン*/
.profile-wrapper {
  width: 70%;
  height: 300px;
  margin: 0 auto;
}
.profile_box {
  background-color: #FFF;
  margin: 2em 0;
  border-left: solid 2px #C2A6ED;
  border-right: solid 2px #C2A6ED;
  border-bottom: solid 10px #C2A6ED;
  border-radius: 10px;
  }
  .profile_box .box-title {
  font-size: 18px;
  line-height:1.8;
  background: #C2A6ED; /*タイトルの背景色*/
  padding: 4px;
  text-align: center;
  color: #FFF; /*文字色*/
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 10px 10px 0 0;
  }
  /*内容*/
  .profile_center{
  text-align: center;
  margin: 10px 15px 0 0;
  padding-top: 30px;
  }
  /*プロフィール画像*/
  .profile_figure {
  width:150px;
  height:150px;
  border-radius: 50%; /*丸くする*/
  border: solid 3px #75DBC7; /*枠線*/
  }
  /*名前*/
  .profile_name {
  padding: 15px 20px;
  font-weight:bold;
  font-size:16px;
  }

  .profile-details {
    margin: 0 auto;
  }

  /*リスト*/
  .profile_box ul {
  margin: 0 auto;
  text-align: right;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  
  }

  .profile_box ul li {
    margin: 0 auto;
    line-height: 1.5;
    padding: 20px 0;
    list-style-type: none!important;
  }

  .profile_box li {
    text-align: center;
    font-weight: bold;
  }
  
  .profile_box ul li span{
  margin: 0 auto;
  padding-left: 20px;
  font-size: 17px;
  color: #64c5b2;
  border-bottom: 1px solid black;
  }


  
  .profile_box li:before {
  margin: 0 auto;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  font-weight:900;
  position: absolute;
  margin:0 auto;/*左端からのアイコンまでの距離*/
  color: #C2A6ED;/*アイコン色*/
  }

  .user-edit-btn {
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 0.8rem;
    font-weight: bold;
    color: #75DBC7;
    text-decoration: none !important;
    user-select: none;
    border: 1px #75DBC7 solid;
    border-radius: 20px;
    transition: 0.4s ease;
  }

  .user-edit-btn:hover {
    color: #fff;
    background: #75DBC7;
  }

  .edit-submit {
    text-align-last: center;
    margin: 30px auto;
  }

  .user-reservations {
    border-top: 1px solid  #C2A6ED;
    margin: 30px auto;
    width: 80%;
  }

  
  .user-reservations p {
    padding-top: 45px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #C2A6ED;
  }

  .excuse{
    text-align-last: center;
    margin-bottom: 5px;
    font-weight: bold;
    color: #75DBC7;
  }

  .room-contents li {
    text-align-last: center;
    // padding: 0.4em 1.6em;
    font-size: 18px;
    font-weight: bold;
    color: #83D6FF;
    text-decoration: none;
    user-select: none;
    background: #fff;
    transition: 0.3s;
    border: 1px #D9BFFF solid;
    border-radius: 40px;
  }

  .room-contents li:hover {
    color: #fff;
    background: -webkit-linear-gradient(top left, #D9BFFF, #83D6FF);
    border-radius: 40px;
  }
  
  .room-contents li:before {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    background: -webkit-linear-gradient(top left, #D9BFFF, #83D6FF);
    border-radius: 40px;
  }
